<div class="filter-bar">
  <span class="fa fa-arrow-circle-left" id="sidebarCollapse" style="font-size:16px;cursor: pointer"></span>
  <span class="divider-vertical"></span>
  <span style="font-size:16px; padding-left:5px">Added Features
  	<span class="filter-clear" style="float: right;cursor: pointer">
	    <span class="fa fa-eraser"></span> Clear 
	  </span>
	  <% if false %>
		  <span class="filter-reresh" style="padding-right:20px ;float: right;cursor: pointer">
		    <span class="fa fa-refresh"></span> Refresh 
		  </span>
	  <% end %>
  </span>
  <div id="filters-list">
  </div>
</div>